SECRET_KEY=replace-with-a-long-random-value
SITE_URL=https://www.atelierdoria.it
WHATSAPP_NUMBER=393298962703
PHONE_DISPLAY=+39 329 896 2703
PHONE_URI=+393298962703
CONTACT_EMAIL=atelierdoria@libero.it
GOOGLE_REVIEW_URL=
GOOGLE_MAPS_EMBED_URL=
RESTAURANT_RATING=
RESTAURANT_REVIEW_COUNT=
HERO_VIDEO_MP4=
HERO_VIDEO_WEBM=
INSTAGRAM_TOKEN=
INSTAGRAM_API_URL=

